[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/sunnydigital/hugo-PaperMod.git
[submodule "themes/themes/PaperMod"]
	path = themes/themes/PaperMod
	url = https://github.com/sunnydigital/hugo-PaperMod.git
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/sunnydigital/hugo-PaperModX.git
