[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/sunnydigital/hugo-PaperModX.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/sunnyanalogue/hugo-PaperMod.git
[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
	url = https://github.com/sunnyanalogue/hugo-PaperMod.git
